In [ ]:
x = 33 #(Assigning x value as 33)

In [ ]:
465+6546*656469-8+9

In [ ]:
4656+6546

In [ ]:
type(x)

In [ ]:
y = 55.369

In [ ]:
type(y)

In [ ]:
# Handling with Numeric Data :

In [ ]:
5465+646

In [ ]:
x1 = 45
x2 = 55
x3 = 45 + 5

In [ ]:
x3

In [ ]:
x1 * x2

In [ ]:
# comparative operator :
x1 > x2

In [ ]:
55 >55

In [ ]:
55 == 55

In [ ]:
# handling with str data : 
# ' ' or " "

In [ ]:
name = "python"

In [ ]:
type(name)

In [ ]:
num = "4569"

In [ ]:
type(num)

In [1]:
sts = ["hyd","sec","mum","che","pune","delhi","viz"]
# +Ve    0     1     2     3      4      5      6
# -Ve   -7    -6    -5    -4     -3     -2     -1

In [2]:
type(sts)

list

In [3]:
print(sts)

['hyd', 'sec', 'mum', 'che', 'pune', 'delhi', 'viz']

In [4]:
# operation on list 
print(sts[:])

['hyd', 'sec', 'mum', 'che', 'pune', 'delhi', 'viz']

In [5]:
print(sts[2])

mum

In [6]:
print(sts[-4])

che

In [7]:
# append obj will be added at last 
sts.append("LONDON")

In [8]:
print(sts)

['hyd', 'sec', 'mum', 'che', 'pune', 'delhi', 'viz', 'LONDON']

In [9]:
# isert object based on index position
sts.insert(1,"MAN")
print(sts)

['hyd', 'MAN', 'sec', 'mum', 'che', 'pune', 'delhi', 'viz', 'LONDON']

In [10]:
# delete object based on index position
del sts[1]
print(sts)

['hyd', 'sec', 'mum', 'che', 'pune', 'delhi', 'viz', 'LONDON']

In [11]:
# remove obj based on obj name
sts.remove("LONDON")
print(sts)

['hyd', 'sec', 'mum', 'che', 'pune', 'delhi', 'viz']

In [12]:
print(sts[2].title())
print(sts[2].upper())

Mum
MUM

In [13]:
#sort() on list obj :(ascening )
sts.sort()
print(sts)

['che', 'delhi', 'hyd', 'mum', 'pune', 'sec', 'viz']

In [14]:
# sort () reverse
sts.sort(reverse = True)
print(sts)

['viz', 'sec', 'pune', 'mum', 'hyd', 'delhi', 'che']

In [15]:
# how many obj , we have in given lst
len(sts)

7

In [17]:
sts +["KINzg"]

['viz', 'sec', 'pune', 'mum', 'hyd', 'delhi', 'che', 'KINzg']

In [18]:
sts = sts + ["KING"]

In [19]:
print(sts)

['viz', 'sec', 'pune', 'mum', 'hyd', 'delhi', 'che', 'KING']

In [20]:
sts * 2

['viz',
 'sec',
 'pune',
 'mum',
 'hyd',
 'delhi',
 'che',
 'KING',
 'viz',
 'sec',
 'pune',
 'mum',
 'hyd',
 'delhi',
 'che',
 'KING']

In [21]:
# Nested List :
lst_1 = [1,2,3]
lst_2 = [4,5,6]
lst_3 = [7,8,9]
matrix = [lst_1,lst_2,lst_3]

In [22]:
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [23]:
print(matrix[0])

[1, 2, 3]

In [24]:
print(matrix[0][1])

2

In [25]:
print(matrix[2][1])

8

In [26]:
print(matrix[1][2])

6

In [28]:
x = (1,2,3,"king","mac",4,6,7,"jack")
#+Ve 0 1 2   3      4   5 6 7    8
#-Ve-9-8-7  -6     -5  -4-3-2   -1
type(x)

tuple

In [29]:
print(x)

(1, 2, 3, 'king', 'mac', 4, 6, 7, 'jack')

In [30]:
print(x[4])

mac

In [31]:
x.append("jhkj")

AttributeError: 'tuple' object has no attribute 'append'

In [32]:
# Nested Complex Datatype
# List of Tuple 
lt = [("sony",3,"f"),("tony",5,"m")]

In [33]:
print(lt[0])

('sony', 3, 'f')

In [34]:
print(lt[0][1])

3

In [35]:
# Tuple of list objects 
tu = ("ravi",25,["btech","mtech"])

In [37]:
print(tu[2][0])

btech

In [38]:
dt = {"man":"tony",
     "women":"mac",
     "other":"dog",
     "marks":456}

In [39]:
type(dt)

dict

In [40]:
another ={}

In [41]:
another["Day"] = "tuesday"
dt["Day"] = "Friday"

In [42]:
dt

{'man': 'tony', 'women': 'mac', 'other': 'dog', 'marks': 456, 'Day': 'Friday'}

In [43]:
another

{'Day': 'tuesday'}

In [44]:
# chage obj value
dt["Day"] = "Sunday"

In [45]:
dt

{'man': 'tony', 'women': 'mac', 'other': 'dog', 'marks': 456, 'Day': 'Sunday'}

In [49]:
print(dt)

{'man': 'tony', 'women': 'mac', 'other': 'dog', 'marks': 456, 'Day': 'Sunday'}

In [50]:
print(dt['man'])

tony

In [51]:
# Nested :
# list , tuple , dict 
# dict , tuple
plist = {"p1":("tv",4000,1)}

In [52]:
lt = {2014:["java","c","c++"],
     2015:["c","c++","java"]}

In [53]:
sales = {("b1","p1"):[100,200,500],
        ("b1","p2"):[250,360,780],
        ("b3","p3"):[582,25,36]}

In [56]:
x = 4
y = 5
z = x+ y 
print(z)

9

In [57]:
# input():
# declare values / accept values at run time:

In [60]:
x = int(input())
y = int(input())
z = x + y
print(z)

85
45
130

In [61]:
name = "python"

print(name)

python

In [63]:
name = input()
print(name)

queen
queen

In [64]:
x = int(input("Enter x value : "))

Enter x value : 45